.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

html {
    margin: 20px;
    background-color: #fce7f3;
}

.title {
    letter-spacing: 1px;
    outline-style: dotted;
    outline-offset: 2px;
    background-color: #fbcfe8;
}

input, select{
    outline-style: solid;
    outline-width: 1px;
    padding: 1px 1px 1px 4px;
    background-color: whitesmoke;
    border-radius: 7px;
}



